/////////////////////////////////////////////////////////
///////////////// Table Of Content //////////////////////
/// 1. Variables
/// 2. Mixins
/// 3. Reset CSS
/// 4. Common Style
/// 5. Common Class
/// 6. Class Reset
/// 7. Header
/// 8. Hero Area
/// 9. Who We Are
/// 10. Latest Work
/// 11. Get In Text
/// 12. Footer
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////
///////////////// Variables //////////////////////
//////////////////////////////////////////////////
//Text font
$text-font: 'Source Sans Pro',
sans-serif;
//Primary font
$primary-font: 'Lato',
sans-serif;
//Secondary font
$title-font:'Lato',
sans-serif;
/////////////// Regular colors ///////////////////
/// Text color
$text-color: #73879c;
//Primary color
$primary-color: #506a85;
//Secondary color
$secondary-color: #00bc9c;
/// Main brand color
// $brand-color: rgb(229, 0, 80);
/// Light grey
$light-grey: #f2f5f7;
/// Medium grey
$mid-grey: #808080;
/// Dark grey
$dark-grey: #4e5c6c;
// Image Loc
$img: '../../img/';
// Spacing
$sec-pad: 65px 0;
//////////////////////////////////////////////////
////////////////////// Extend ////////////////////
//////////////////////////////////////////////////
%posMid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

%flexMid {
    display: flex;
    justify-content: center;
    align-items: center;
}

%fit {
    width: 100%;
    height: 100%;
}

%iconPos {
    content: '';
    position: absolute;
    right: 100%;
    top: 0;
    background-repeat: no-repeat;
    width: 62px;
    height: 100%;
}

//////////////////////////////////////////////////
////////////////////// Mixins ////////////////////
//////////////////////////////////////////////////
@mixin plusHvr() {
    &::before {
        content: '\f067';
        font-family: 'FontAwesome';
        color: #fff;
        font-size: 130%;
        @extend %flexMid;
        background: rgba($secondary-color, 0.85);
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        z-index: 1;
        transition: all .3s ease-in-out;
        opacity: 0;
    }
    &:hover::before {
        // Hover Style
        @extend %fit;
        opacity: 1;
    }
}

///////////////////////////////////////////////////
//////////////////// Reset CSS ////////////////////
///////////////////////////////////////////////////
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

//////////////////////////////////////////////////////
//////////////////// Common Style ////////////////////
//////////////////////////////////////////////////////
body {
    font-family: $text-font;
    font-size: 16px;
    color: $text-color;
    line-height: 25px;
}

a {
    color: $primary-color;
    text-decoration: none;
}

a:focus {
    box-shadow: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 78px;
    line-height: 88px;
}

h2 {
    font-size: 44px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
    font-weight: bold;
}

button {
    border: 0;
    cursor: pointer;
}

button:focus {
    outline: 0;
    border: 0;
    box-shadow: none !important;
}

input {
    border: 0;
    border-bottom: 1px solid $primary-color;
}

input:focus {
    outline: 0;
}

////////////////////////////////////////////////////
///////////////////// Common Class /////////////////
////////////////////////////////////////////////////
// Colors
.white-color {
    color: white;
}

.black-color {
    color: #000;
}

.text-color {
    color: #73879c;
}

.text-soft {
    color: #a3b1bf;
}

.primary-color {
    color: #506a85;
}

.secondary-color {
    color: #00bc9c;
}

// Buttons
.btn-secondary {
    background-color: $secondary-color;
    &:hover {
        background-color: darken($secondary-color, 7) !important;
    }
}

.hero-btn {
    padding: 15px 60px;
    border: 0;
    border-bottom: 1px solid darken($secondary-color, 10);
    text-transform: uppercase;
    font-weight: bold;
}

// Section Title
.sec-title {
    margin-bottom: 60px;
    h1 {}
    p {
        width: 800px;
        max-width: 90%;
        margin: 30px auto 0;
        font-size: 22px;
    }
}

#scroll-top {
    background: #3c5065;
    color: #73879c;
    font-size: 30px;
    &:hover {
        i {
            color: #fff;
            animation-name: arrowTop;
            animation-duration: 1s;
            animation-iteration-count: infinite;
        }
    }
}

#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #eee;
    top: 0;
    left: 0;
    z-index: 999999;
}

// Sticky Nav
.sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: #fff;
}

// Arrow Top Animation
@keyframes arrowTop {
    from {
        transform: translateY(10);
    }
    to {
        transform: translateY(-10px);
    }
}

////////////////////////////////////////////////////
///////////////////// Class Reset //////////////////
////////////////////////////////////////////////////
.btn {
    border: 0;
    cursor: pointer;
}

////////////////////////////////////////////////////
//////////////////////// Header ////////////////////
////////////////////////////////////////////////////
header.page-header {
    .header-top {
        background: #f5f7fa;
        color: $primary-color;
        line-height: 40px;
        border-bottom: 1px solid #e6e9ed;
        li:last-child a {
            padding-right: 0;
        }
        a {
            color: $primary-color;
            padding: 10px;
        }
        .ht-left {
            ul>li {
                &:not(:last-child) {
                    margin-right: 27px;
                }
                i {
                    margin-right: 10px;
                }
            }
        }
        .ht-right {
            .icon-list {
                li a:hover i {
                    transform: scale(1.5) rotateY(360deg);
                    transition: all .3 s ease-out;
                }
            }
        }
    }
    .primary-nav {
        height: 96px;
        .navbar-brand {
            margin-right: 83px;
        }
        .navbar-nav {
            .nav-link {
                padding: 10px 20px;
                font-weight: bold;
                font-size: 15px;
                text-transform: uppercase;
                &:hover {
                    color: darken($text-color, 20);
                }
            }
        }
        .search-form {
            .search-input {
                border: 0;
                border-bottom: 1px solid $primary-color;
                padding: 2px;
                visibility: hidden;
                transition: .3s;
                &.show {
                    visibility: visible;
                }
            }
            .search-btn {
                color: $primary-color;
                background: transparent;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

////////////////////////////////////////////////////
//////////////////// Hero Area ////////////////////
////////////////////////////////////////////////////
.hero-area {
    position: relative;
    color: #fff;
    .slide-item {
        .slide-text {
            @extend %posMid;
            p {
                font-size: 18px;
                margin: 10px 0 48px;
                line-height: 27px;
            }
        }
    }
}

////////////////////////////////////////////////////
//////////////////// Who We Are ////////////////////
////////////////////////////////////////////////////
.who-we-are {
    padding: $sec-pad;
    .sec-title {
        &:hover {
            p {
                color: darken($text-color, 10);
            }
        }
    }
    .flat-items {
        .item {
            position: relative;
            &.passion:before {
                @extend %iconPos;
                background-image: url($img+'icons/heart.png');
            }
            &.creativity:before {
                @extend %iconPos;
                background-image: url($img+'icons/lamp.png');
            }
            &.quality:before {
                @extend %iconPos;
                background-image: url($img+'icons/star.png');
            }
            h3 {
                margin-bottom: 28px;
            }
            &:hover {
                h3 {
                    font-weight: bold;
                }
                p {
                    color: darken($text-color, 10);
                }
            }
        }
    }
}

/////////////////////////////////////////////////////
//////////////////// Latest Work ////////////////////
/////////////////////////////////////////////////////
.latest-work {
    background: $light-grey;
    padding: $sec-pad;
    .card-deck {
        .card {
            border: 1px solid #e6e9ed;
            border-top: 0;
            border-bottom-width: 2px;
            .item-img {
                position: relative;
                overflow: hidden;
                @include plusHvr();
            }
        }
    }
    .wi-slider {
        margin: 75px 0 34px;
        position: relative;
        .slide-item {
            .slide-img {
                display: block;
                overflow: hidden;
                position: relative;
                .hvr-text {
                    @extend %posMid;
                    @extend %flexMid;
                    @extend %fit;
                    flex-direction: column;
                    color: #fff;
                    transition: all .3s ease;
                    opacity: 0;
                    &::before {
                        content: '';
                        @extend %fit;
                        background: rgba($secondary-color, 0.85);
                        position: absolute;
                        top: 0;
                        left: 100%;
                        transition: all .3s ease-in-out;
                        z-index: -1;
                    }
                }
                &:hover .hvr-text {
                    // Hover Style
                    opacity: 1;
                    &::before {
                        left: 0;
                    }
                }
            }
        }
    }
}

/////////////////////////////////////////////////////
//////////////////// Get In Text ////////////////////
/////////////////////////////////////////////////////
.get-in-text {
    padding: $sec-pad;
    button {
        border-bottom: 2px solid darken($secondary-color, 5);
        padding: 11px 32px;
    }
}

////////////////////////////////////////////////////
////////////////////// Footer //////////////////////
////////////////////////////////////////////////////
footer.page-footer {
    .footer-widgets {
        padding: 50px 0;
        background: #2f4052;
        color: #fff;
        .widget {
            h6 {
                font-size: 21px;
                margin-bottom: 18px;
            }
            .arrow-anim {
                font-weight: bold;
                font-size: 18px;
                &:hover {
                    text-decoration: none;
                    color: $secondary-color;
                    transition: all .2s ease-in-out;
                    i {
                        color: $secondary-color;
                        margin-left: 20px;
                        transition-delay: .1s;
                    }
                }
                i {
                    margin-left: 10px;
                    transition: all .4s ease-in-out
                }
            }
            .img-group {
                .img-item {
                    display: block;
                    position: relative;
                    overflow: hidden;
                    @include plusHvr();
                    &:before {
                        top: 0;
                        left: 0;
                    }
                    img {
                        width: 100%;
                    }
                }
            }
            .subscribe-form {
                background: $dark-grey;
                padding: 5px;
                input[type="text"] {
                    background: $dark-grey;
                    border: 0;
                    color: #f2f5f7;
                }
                button[type="submit"] {
                    padding: 0 10px;
                    font-size: 13px;
                    font-weight: bold;
                    border-bottom: 2px solid darken($secondary-color, 5);
                }
            }
        }
    }
    .footer-bottom {
        background: #283645;
        padding: 20px 0;
        nav {
            ul {
                li {
                    position: relative;
                }
                li:not(:last-child)::after {
                    content: '\f111';
                    font-family: 'fontawesome';
                    position: absolute;
                    right: 0;
                    font-size: 3px;
                    top: 0;
                }
                a {
                    padding: 10px;
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}